/* DESKTOP NAVBAR */
.desktop-nav-section {
  background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
  color: #fff;
  padding: 13px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.logo:hover {
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link-group {
  display: flex;
  align-items: center;
  gap: 30px;
}

.rounded-link-group {
  display: flex;
  align-items: center;
  gap: 15px;

}

/* LINKS & BUTTONS */

#link {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#desktop-nav-btn {
  background: #feb692;
  width: 180px;
  padding: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50px;
}

.menu-icon-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
}

/* Scaled Down Navbar */
.signedin-nav-section {
  /* background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%); */
  background: pink;
  color: #fff;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.signout-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signout-section:hover {
  cursor: pointer;
}
